/* GLOBALS */
$base-bgcolor: #8b0000;
$base-btncolor: #a23333;
$base-widgetcolor: #fff;
$base-textcolor1: #e0e0e0;
$base-textcolor2: #000;
$base-accent: #228b22;
$base-font: Arial, Helvetica, sans-serif;