@use '../styles/variables' as *;

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: $base-shade2;
}

.search-box {
  display: flex;
  flex-direction: row;
  gap: 25px;

  input {
    color: #fff;
    outline: none;
    border-radius: 10px;
    font-size: 22px;
    padding: 10px 20px;

    &.txt-searcher {
      background-color: rgba(0,0,0,0.3);  
      border: none;
      width: 400px;
    }

    &.btn-surprise {
      background-color: $base-shade1;
      border: none;
      font-size: 16px;
      letter-spacing: 1px;
      padding: 0 50px;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background-color: $base-shade4;
        color: $base-shade6;
      }
    }
  }
}

.recipes {
  display: flex;
  flex-direction: column;
  width: 100%;

  h2 {
    margin-left: 25px;
    color: $base-shade2;
  }
}

@media (max-width: $screen-md) {

  .search-box {
    input.txt-searcher {
      width: auto;
    }
  }

}

@media (max-width: $screen-sm) {

  .search-box {
    flex-direction: column;
    gap: 8px;

    input.txt-searcher {
      width: auto;
    }

    input.btn-surprise {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

}