.message-box {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #000;
  margin: 20px auto;
  background-color: #ddd;
  padding: 20px 30px;
  border-radius: 10px;

  &.error {
    background-color: #fcc;
  }

  h4 {
    margin: 0 0 15px;
    text-transform: uppercase;
  }

  p {
    margin: 0;
  }

}