@use './styles/variables' as *;

/* STYLES */
body {
  margin: 0;
  padding: 0;
  font-family: $base-font;
  background-color: $base-bgcolor;
  color: $base-textcolor1;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.structure {
  width: 960px;
  margin: 0 auto;
}